body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #4A4A4A;
  background-color: #FAFAFA;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
/*  border: 1px solid white;
*/}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
/*    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
*/    background: rgba(0, 0, 0, 0.8);
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.download-section {
  color: #4A4A4A;
/*  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
*/  background-color: #F2F2F2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#about img {
  max-height: 120px;
  padding-bottom: 30px;
}

#contact img {
  padding-bottom: 20px;
}

#download .process h2 {
  text-transform: capitalize;
}

#download .problemAreas img {
  max-height: 100px;
  max-width: 100px;
}

#download .col-md-4 img {
  padding-bottom: 20px;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
*/
}

#download .iterations h5 {
  padding-top: 20px;
}

#download .iterations img {
max-width: 50%;
}

#download span {
  text-decoration: line-through;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#download .form h5 {
  padding: 20px;
  margin: 0px;
  padding-left: 0px;
}

#download .form p {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
}

#download .form img {
 /* padding-top: 50px;*/
}

#download .form .pLeft p {
  padding-left: 50px;
}

#download .components {
  padding-top: 100px;
}

#download .form .pLeft h5 {
  padding-left: 50px;
}

#download .components P{
  padding-top: 20px;
}


/*#about

.goals

#download */

.goals {
  padding-top: 100px;
}

.research {
  background-color: white;
  padding-bottom: 50px;
  padding-top: 100px;
  margin: 50px;
  box-shadow: 5px 6px 29px -13px rgba(0,0,0,1);
}

.concepts {
  padding-bottom: 50px;
  margin: 50px;
  background-color: white;
  padding-top: 100px;
  box-shadow: 5px 6px 29px -13px rgba(0,0,0,1);
}

.newIterations {
  padding-bottom: 50px;
  margin: 50px;
  background-color: white;
  padding-top: 100px;
  box-shadow: 5px 6px 29px -13px rgba(0,0,0,1);
}


.form {
  padding-bottom: 50px;
  /* margin: 50px;
  background-color: white;*/
}


.components {
  padding-bottom: 50px;
  margin: 50px;
  background-color: white;
  padding-top: 100px;
  box-shadow: 5px 6px 29px -13px rgba(0,0,0,1);
}

.process {
  padding-bottom: 50px;

}

.poster {
  padding-bottom: 50px;
  margin: 50px;
  background-color: white;
  padding-top: 100px;
  box-shadow: 5px 6px 29px -13px rgba(0,0,0,1);
}

.nextSteps h2 {
  padding-top: 100px;
}
.nextSteps img {
  padding-bottom: 50px;
  padding-top: 30px;
}

.nextSteps h5 {
  margin-bottom: 10px;
  text-align: left;
}


#download .components img {
  padding-top: 0px;
}

p {
  font-size: 18px;
  font-family: 'Roboto';
  text-align: left;
  padding-left: 20px;
}

.goals p{
  text-align: center;
}

.problemAreas p{
  text-align: center;
  padding-top: 10px;
}

 .copyright .text-center p {
  text-align: center;
}

.researchBox {
  background-color: white;
}

.content-section {
  padding-top: 100px;
}

.masthead .intro-text p {
  text-align: center;
}

#contact img {
  max-width: 100%;
}

/*.container-fluid {
  padding: 50px;
}*/

/*MEDIA QUERIES*/
@media (max-width: 576px) {
  #download .form img {
 display: none;
}
#download .form p {
  padding-left: 20px;
}
#download .form .pLeft p {
  padding-left: 20px;
}
#download .form .pLeft h5 {
  padding-left: 20px;
}
p {
  padding-left: 20px;
}
h2 {
  padding-left: 20px;
}
.problemAreas img{
  display: none;
}
.iterations img {
  padding-top: 20px;
}
.research {
  margin: 10px;
  padding-top: 10px;
}
.concepts {
  margin: 10px;
  padding-top: 10px;
}
.newIterations {
  margin: 10px;
  padding-top: 10px;
}
.components {
  margin: 10px;
  padding-top: 10px;
}
.poster {
  margin: 10px;
  padding-top: 10px;
}
}




/*@media (min-width: 768px) {
  #download .iterations .com {
 display: none;
}
#download .iterations .hit {
  display: none;
}
}*/

/*@media (max-width: 988px min-width: 768px) {
  #download .form img {
 display: none;
}*/


/*@media (max-width: 576px) {
  #download .form img {
 display: none;
}
}
*/
@media (max-width: 823px) {
  #download .form img {
 padding-top: 50px;
}
p {
  padding: 20px;
}
h2 {
  padding: 20px;
}
}

@media (max-width: 700px) {
  #download .form img {
 padding-top: 90px;
}
.research {
  margin: 25px;
  padding-top: 50px;
}
.concepts {
  margin: 25px;
  padding-top: 50px;
}
.newIterations {
  margin: 25px;
  padding-top: 50px;
}
.components {
  margin: 25px;
  padding-top: 50px;
}
.poster {
  margin: 25px;
  padding-top: 50px;
}
}


  